/* src/App.css */

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f3f309; /* Bright yellow background */
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
  flex-grow: 1; /* allows main content to fill space */
}

.page {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s forwards;
  animation-timing-function: ease-out;
}

h1, h2 {
  color: #cc3366; /* Pink accent */
}

h2 {
  margin-bottom: 20px;
  border-bottom: 2px solid #cc3366;
  padding-bottom: 8px;
  width: fit-content;
}

p, ul {
  line-height: 1.6;
  color: #444;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: #cc3366;
}

/* Animation keyframes */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
